authorizationEndPoint="http://keycloak:8080/auth/realms/in2/protocol/openid-connect/auth"
discoveryEndPoint=""
discoveryEndPointCacheInMillis="360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL="http://keycloak:8080/auth/realms/in2"
jwksURI="http://keycloak:8080/auth/realms/in2/protocol/openid-connect/certs"
openIdConnectClientId="liferay"
openIdConnectClientSecret="0be4831d-cfa1-45f6-aa7b-74d6b9adf090"
providerName="Keycloak"
scopes="openid\ email\ profile\ groups"
subjectTypes=[ \
  "public", \
  "pairwise", \
  ]
tokenEndPoint="http://keycloak:8080/auth/realms/in2/protocol/openid-connect/token"
userInfoEndPoint="http://keycloak:8080/auth/realms/in2/protocol/openid-connect/userinfo"
